.sliders{
	height: 100%;
	width: 60%;
	/*border: 1px black solid;*/
}

.personal{
	height: 100%;
	width: 40%;
	/*border: 1px black solid;*/
}

.personal hr{
	width: 75%;
	border: solid black 0.25px ;
}

.userInfo{
	width: 80%;
	font-weight: 500;
}

.userInfo input{
	width: 80%;
	overflow: hidden;
	text-align: center; 
}

.userInfo label{
	width: 100%;
	margin-bottom: 0px;
}

.infoInput{
	flex-wrap: wrap;
}

.pp-name{
	width: 80%;
	height: 80%;
	max-width: 300px;
	max-height: 300px; /* AJUSTAR SEGUN SIZE */
	border-radius: 50%;
	margin: 25px auto;
	border: 5px black solid;
}

.topicsContainer h1{
	height: 20%;
	width: 100%;
	margin-bottom: 0px;
}

.topicsContainer > ul{
	margin: auto;
    text-align: left;
    list-style: none;
    columns: 2;
    width: 85%;
    height: 80%;
    padding: 0px;
}

.topicsContainer > li{
    vertical-align: top;
}

.topicsContainer span{
    font-size: 0.9em;
}

.topicsContainer input{
	float: right;
}

.icon-wrapper {
  margin:auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Igual que el Icon Wrapper*/
.slidersContainer {
	width: 80%;
}

.info{
	width: 100%;
	margin: -25px 0px 25px 0px;
}

.info>h3{
	font-size: 2em;
	font-weight: 600;
}

.icon-wrapper i{
  font-size: 2em;
}

@media screen and (max-width: 1000px){
    .profileContainer > form{
    	flex-direction: column;
    	height: 200%;
    }

    .personal{
		width: 100%;
	}

	.sliders{
		width: 100%;
	}
	
	.infoInput input{
		margin-bottom: 25px;
	}

	.topicsContainer{
		font-size: 0.75em;
	}
}