.repsContainer{
	width: 100%;
	height: 100%;
}

.repsTable{
	width: 95%;
	height: 100%;
	margin: auto; 
}

.rCell{
	display: inline-flex;
	vertical-align:top;
	width: 33.33%;
	height: 100%;
	/*border: 1px black solid;*/
	margin: 10px auto; 
	padding: 0 25px;
}

.rCell hr{
	width: 75%;
	border: 0.5px black solid; /*Chrome no se ve si es menor a .5*/
	margin: 0px auto; 
}

.rep_pic{
	width: 80%;
	height: 80%;
	max-width: 300px;
	max-height: 300px; /* AJUSTAR SEGUN SIZE */
	border-radius: 50%;
	margin: 25px auto;
	border: 5px black solid;
}

.rep_name{
	text-align: center;
	font-size: 1.5em; 
	margin: auto;
}

.rContact{
	margin: auto;
	padding: 15px 0px;
}

.subSectionName{
	height: 100%;
	width: 30%;
	font-weight: 700;
	margin-right: 15px; 
}

.sectionDes{
	height: 100%;
	width: 70%;	
}

.lights > div{
	width: 100%;
	height: 100%;
	display: flex;
	text-align: center;
	padding: 15px 0px;
}

.lights{
	padding: 15px 0px;
}

.light{
	width: 25px;
	height: 25px;
	background: black;
	border-radius: 100%;
	border: 1px black solid;
}

.green{ background-color: rgb(125,171,85); color:rgb(125,171,85);}  
.red{ background-color: rgb(236,51,35); color:rgb(236,51,35);}  

.light-cell{
	width: 100%;
	height: 100%;
}

.lights .sectionDes{
	font-size: 0.85em;
}

@media screen and (max-width: 768px) {
    .rCell{ 
    	width: 100%;
    }

    .rContact a{
    	font-size: 0.8em;
    }

	.light{
		margin: 0px 15px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    .rCell{ 
    	width: 50%; 
    }
}
