.loginContainer{
	width: 70%;
	height: 100%;
	margin: auto;
}

.titleContainer{
	font-size: 20px;
	width: 100%;
}

.titleContainer p {
	margin: 0px;
}
.titleContainer span{
	font-size: 2.5em;
	font-weight: 400;
}

/*Size logo*/
.titleContainer > div{
	width: 75%;
}

.aboutContainer{
	height: 25%;
	width: 100%;
	text-align: center;
}

.titleContainer img{
	padding: 25px;
}

@media screen and (max-width: 768px) {
    .aboutContainer{font-size: 0.8em;}
}

@media screen and (max-width: 568px) {
    .aboutContainer{font-size: 0.65em;}
}